body {
    font-family: Arial, sans-serif;
    font-size: 1.125rem;
    color: #18281b;
    line-height: 1.6;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    @media (width < 720px) {
        flex-direction: column;
    }
}

.wrapper {
    max-inline-size: min(70ch, 100% - 4rem);
    margin-inline: auto;
}

a {
    color: #2b930b;
}

a:hover,
a:focus-visible {
    color: #4ba92e;
}

.primary-navigation ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

.primary-navigation a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    color: #4676a9;
}

h1 {
  text-align: center;
  font-size: clamp(3rem, 10vw, 6rem);
  line-height: 1.1;
}

h2 {
  color: orange;
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}


.two-column-layout {
    display: grid;
    gap: 70px;
    margin-block-end: 70px;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

section {
    margin-block: 70px;
}

.teal-text {
    color: #087a98;
}

.teal-bg {
    color: #fff;
    border: #0b4a5a solid 10px;
    background-color: #087a98;
    padding: 1rem;
}

img {
    max-inline-size: 100%;
    display: block;
}

.climber-bg {
    color: #fff;
    background-image: url("../images/simple-steps.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
    border: #0b4a5a solid 10px;
}

li:not(.primary-navigation ul li) {
    color: black;
}

li:not(.primary-navigation ul li) {
    margin-block: 5px;
}

ul li:not(.primary-navigation ul li)::marker {
    content: "👉";
}

footer {
    text-align: center;
}
